@page
@model Google_Ads___PPC_Dashboard.Pages.CustomReports.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomReport.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomReport.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomReport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomReport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomReport.Configuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomReport.Configuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomReport.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomReport.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomReport.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomReport.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomReport.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
