@page
@model Google_Ads___PPC_Dashboard.Pages.AdGroups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdGroup[0].Campaign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdGroup[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdGroup[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdGroup[0].BidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdGroup[0].TargetKeywords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.CampaignId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetKeywords)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AdGroupId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AdGroupId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AdGroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
