@page
@model Google_Ads___PPC_Dashboard.Pages.Campaigns.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Campaign.Name)</h1>
<h3>AdGroups</h3>
<p>
    <a asp-page="/AdGroups/Create" asp-route-CampaignId="@Model.Campaign.Id">Create New AdGroup</a>
</p>
@foreach (var adGroup in Model.Campaign.AdGroups)
{
    <div class="container-fluid rounded-1">
        <div class="row">
            <div class="col-6 bg-info" style="height: 80vh; overflow-y: auto;">
                <h4>@adGroup.Name</h4>
                <p>
                    <a asp-page="/Ads/Create" asp-route-AdGroupId="@adGroup.Id">Create New Ad</a>
                </p>
                @foreach (var ad in adGroup.Ads)
                {
                    <a asp-page="/Ads/Details" asp-route-id="@ad.Id" class="productbox-link">
                        <div class="Productbox" onclick="">
                            <div class="Pinfo">
                                @Html.DisplayFor(modelItem => ad.HeadlinePart1)
                                <br />
                                @Html.DisplayFor(modelItem => ad.HeadlinePart2)
                                <br />
                                @Html.DisplayFor(modelItem => ad.Description1)
                                <br />
                                @Html.DisplayFor(modelItem => ad.FinalUrl)
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <br />
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myLineChart2').getContext('2d');
    var myLineChart2 = new Chart(ctx, {
        type: 'line', // You can change this to 'line', 'pie', etc.
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 11, 3, 5, 2, 3],  //@Model grejor här :) ?
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.GoogleCampaignId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.GoogleCampaignId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.BudgetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.BudgetType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-page="./Edit" asp-route-id="@Model.Campaign.Id">Edit</a> | *@
    <a asp-page="./Index">Back to List</a>
</div>
